@media screen and (min-width: 428px){
    .container{
        max-width: 396px;
        padding: 0;
    }
}

@media screen and (min-width: 768px){
    .container{
        max-width: 738px;
    }
    .benefits-item{
        width: calc((100% - 24px * 2) / 2);
    }
    .benefits-list{
        gap: 24px;
    }
    .benefits-title{
        text-align: left;
    }
    .benefits-text{
        display: flex;
    }
}