/* Main-Page */
:root {
  --primary-font: "Roboto", sans-serif;
  --color-iris: #4d5ae5;
  --logo-font: "Raleway", sans-serif;
  --logo-font-weight: 800;
  --logo-font-size: 18px;
  --logo-line-height: 1.17;
  --letter-spacing: 0.03em;
  --logo-text-transform: uppercase;
  --slate-color: #434455;
  --logo-color: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --true-white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --text-decoration: none;
  --secondary-border-color: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font);
  color: var(--slate-color);
  background-color: var(--true-white-color);
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.link {
  text-decoration: var(--text-decoration);
}

.header-span {
  color: var(--navy-blue);
}

.list {
  text-decoration: none;
  list-style: none;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail-tel {
  display: flex;
  gap: 40px;
}

.header-menu-content {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after:active {
  color: #404bbf;
}

.header-menu-content:hover {
  color: var(--ocean);
}
.header-menu-content:focus {
  color: var(--ocean);
}

.address-info {
  font-style: normal;
}

.mail-tel-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-link:focus,
.mail-tel-link:hover {
  color: #404bbf;
}

/* First-Secion */

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.order-button {
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button-text {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--true-white-color);
  cursor: pointer;
  padding: 16px 32px;
}
.order-button-text:hover,
.order-button-text:focus {
  background-color: #404bbf;
}
/* Second-Section */

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-block {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.benefits-list {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Third-Section */

.our-people {
  padding-bottom: 120px;
}

.achievements-item {
  width: calc((100% - 48px) / 3);
}

.achievements-people {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
}

.achievements-list {
  display: flex;
  gap: 24px;
}
/* Fourth-Section */

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
}

.people-list {
  display: flex;
  gap: 24px;
}

.people-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.people-info {
  padding: 32px 0;
}

.people-social-icons {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-social-icons:hover,
.people-social-icons:focus {
  background-color: var(--ocean);
}

.socials {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.social-icons {
  fill: #f4f4fd;
}

.jobs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.who-we-are {
  background-color: var(--cloud-color);
  padding: 120px 0 120px;
}
.cards {
  background-color: var(--true-white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Customers */

.customers {
  padding: 120px 0 120px;
}

.customers-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--ocean);
  border-color: #404bbf;
}

.customers-icons {
  fill: currentColor;
}

/* Footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-block {
  margin-right: 120px;
}

.footer-socials-title {
  color: var(--true-white-color, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icons {
  fill: #f4f4fd;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0 100px;
}
.footer-span {
  color: var(--cloud-color);
}
.footer-text {
  line-height: 1.5;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-form-container {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-label::placeholder {
  color: #ffffff;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-text {
  color: var(--white, #ffffff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus{
  background-color: #404bbf;
}

.footer-form-icon {
  margin-left: 16px;
}

/* Portfolio-Page */

/* Header */
.portfolio-span {
  color: var(--navy-blue);
}
/* Main */

.main-section {
  padding-bottom: 120px;
  padding-top: 96px;
}

.buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  padding: 12px 24px 12px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.buttons:hover,
.buttons:focus {
  color: var(--true-white-color);
  background-color: var(--ocean);
  border: 1px solid transparent;
  border: 1px solid transparent;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-text {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-link:hover .img-text,
.features-link:focus .img-text {
  transform: translateY(0%);
}

.features-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.features-item {
  width: calc((100% - 48px) / 3);
}

.features-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* ********************************** MODAL ************************************* */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
}

.modal-close-btn:hover .modal-icon,
.modal-close-btn:focus .modal-icon {
  fill: #ffffff;
}

.modal-close-btn:hover {
  border: none;
  background-color: #404bbf;
}

.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  max-width: 360px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal {
  padding: 72px 24px 24px 24px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--color-iris);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-iris);
}

.input-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  border-radius: 4px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.modal-textarea:focus {
  border-color: var(--color-iris);
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}

.privacy-link {
  color: #4d5ae5;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.check-text .checkbox-span {
  width: 16px;
  height: 16px;
  line-height: 1.17;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-check:checked + .check-text .checkbox-span {
  background-color: var(--ocean);
  border: none;
  fill: #f4f4fd;
}

.modal-check:focus + .check-text .checkbox-span {
  border-color: var(--ocean);
}

.modal-form-btn {
  margin: 0 auto;
  margin-top: 24px;
  display: block;
  cursor: pointer;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--ocean);
}

.form-btn-text {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
